[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1312: Variable names should begin with lower-case letter
dotnet_diagnostic.SA1312.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none
